.container
	#logoArea
		.span8
			h1.logo.large
				a(href='/').plain LaTeX ENSTA
				span.sub.logo Editeur en ligne de LaTeX
		.span3#homePagePills
			ul.nav.nav-pills
					li
						a(href='/') Accueil

