.box
	.page-header
		h2 Paramètres du Projet
	.tabbable
		ul.nav.nav-tabs
			li.active
				a(href='#generalProjectSettings', data-toggle="tab") Général
			li
				a(href='#exportSettings', data-toggle="tab") Exportation & Copie
			li
				a(href='#deleteProjectTab', data-toggle="tab") Supprimer le Projet

		.tab-content.form-horizontal
			.tab-pane#generalProjectSettings.form.form-horizontal.active
				if privlageLevel == 'owner' || privlageLevel == 'readAndWrite'
					.control-group
						label(for='xlInput').control-label Nom du Projet
						.controls
							.input
								input.projectName(type='text', value=project.name)

					.control-group
						label(for='input').control-label Document Principal
						.controls
							.input
								select#rootDocList

					.control-group
						label(for='spellCheck').control-label
							| Vérification d'Orthographe
						.controls
							select(name="spellCheckLanguage")#spellCheckLanguageSelection
								option(value="",selected=(project.spellCheckLanguage == "")) Off
								optgroup(label="Language")
									for language in languages
										option(
											value=language.code,
											selected=(language.code == project.spellCheckLanguage)
										)= language.name

					.control-group#multipleCompilers
						label(for='input').control-label Compilateur
						.controls
							.input
								select#compilers
									option(value='latex') LaTeX
									option(value='pdflatex') pdfLaTeX
									option(value='xelatex') XeLaTeX
									option(value='lualatex') LuaLaTeX
				else
					span Vous n'avez pas les permissions pour modifier ces paramètres

				if privlageLevel == 'owner'
					.control-group
						label(for='select').control-label Accès Public
						.controls
							select#publicAccessLevel
								option(value='private') Privé
								option(value='readOnly') Public - Lecture Seule
								option(value='readAndWrite') Publique - Lecture et Ecriture

			.tab-pane#exportSettings
				a.btn#DownloadZip Télécharger le Projet en Zip
				div &nbsp;
				a.btn(href='/project/'+project._id+'/clone').cloneProject Cloner le Projet

			.tab-pane#deleteProjectTab
				if privlageLevel == 'owner'
					button#deleteProject.btn.btn-danger Supprimer le Projet
				else
					span Vous n'avez pas les permissions pour modifier ces paramètres

			.tab-pane#dropboxProjectSettings
