#deleteEntityModal(style='display: none')
	.modal
		.modal-header
			h3 Supprimer le Projet
		.modal-body
			span.message Confirmer la suppression de
				strong.name Projet
				| ?
		.modal-footer
			button.btn.btn-danger.confirm Suppression Définitive
			button.btn.cancel Annuler

#leaveProjectModal(style='display: none')
	.modal
		.modal-header
			h3 Fermer le Projet
		.modal-body
			span.message Êtes vous sûr de vouloir fermer le
				strong.name Projet
				| ?
		.modal-footer
			button.btn.btn-danger.confirm Fermer
			button.btn.cancel Non

#deleteUserAccountModal(style='display: none')
	.modal
		.modal-header
			h3 Supprimer le Compte
		.modal-body
			span.message Type
				strong Delete
				| below to confirm you want to delete your account forever
			div &nbsp;
			input.inputmodal(placeholder='')
		.modal-footer
			button.btn.btn-danger#confirmDeleteUser Supprimer Définitivement
			button.btn.cancel Annuler

#cloneProjectModal(style='display: none')
	.modal
		.modal-header
			h3 Cloner le Projet
		.modal-body
			form.form-horizontal(onkeydown="if (event.keyCode == 13){event.preventDefault(); document.getElementById('confirmCloneProject').click()}")
				input.inputmodal#newProjectName(placeholder='Nouveau Projet')
		.modal-footer
			button.btn.btn-primary#confirmCloneProject Créer
			button.btn.cancel Annuler

#newProjectModal(style='display: none')
	.modal
		.modal-header
			h3 Nouveau Projet
		.modal-body
			form.form-horizontal(onkeydown="if (event.keyCode == 13){event.preventDefault(); document.getElementById('confirmNewProject').click()}")
				input.inputmodal#newProjectName(placeholder='name')
		.modal-footer
			button.btn.btn-primary#confirmNewProject Créer
			button.btn.cancel Annuler

#newEntityModal(style='display: none')
	.modal
		.modal-header
			h3
		.modal-body
			form.form-horizontal(onkeydown="if (event.keyCode == 13){event.preventDefault(); $('.in button#genericSave').click()}")
				input.inputmodal.span3(placeholder='name')
		.modal-footer
			button.btn.btn-primary#genericSave.confirm Sauvegarder
			button.btn.cancel Annuler


#errorModal(style='display: none')
	.modal
		.modal-header
			h3
		.modal-body
			span.message

#genericServerErrorModal(style='display: none')
	.modal
		.modal-header
			h3 Erreur de communication avec le serveur
		.modal-body
			span.message Impossible d'effectuer la requête actuellement. Essayez à nouveau dans quelques minutes. Si le problème persiste, merci de contacter les administrateurs.
		.modal-footer
			button.btn.btn-primary.cancel Ok

#projectUploadModal(style='display: none')
	.modal
		.modal-header
			h3 Uploader Projet Zippé
		.modal-body#projectFileUpload
			span Uploader un projet zippé
		.modal-footer
			button.btn.cancel Annuler
