extends layout

block content
	.container
		.row
			.span12.span-box
				.page-header
					h1 Ressources LaTeX
						small &nbsp; Voici quelques ressources LaTeX conseillées
				div
					ul
						li
							a(href='http://www.babafou.eu.org/Apprends_LaTeX/Apprends_LaTeX.pdf') LaTeX Wikibook
							span &nbsp; - Apprends LaTeX par le prof mythique de l'ENSTA Babafou (en français)
						li
							a(href='http://en.wikibooks.org/wiki/LaTeX') LaTeX Wikibook
							span &nbsp; - 95% de ce qu'on doit savoir sur LaTeX, expliqué d'une manière claire et simple avec des exemples que l'on peut copier-coller.
						li
							a(href='http://detexify.kirelabs.org/classify.html') Detexify
							span &nbsp; - Trouver les symboles LaTeX
						li
							a(href='http://www.tug.dk/FontCatalogue/seriffonts.html') LaTeX Fonts
							span &nbsp; -  Collection de polices LaTeX
						li
							a(href='http://mathurl.com/') MathUrl
							span &nbsp; - Edition d'équation visualisables en temps réel
						li
							a(href='http://www.texample.net/') TeXample.net
							span &nbsp; - pour tout ce qui est tikz
						li
							a(href='http://www.howtotex.com/') howtoTeX.com
							span &nbsp; - une collection de templates et tutoriels
						li
							a(href='http://truben.no/latex/table/') LaTeX table editor
							span &nbsp; - pour gérer les tableaux LaTeX avec une vue de type "excel"
						li
							a(href="http://www.math.binghamton.edu/erik/beameruserguide.pdf") Beamer user guide
							span &nbsp; - Une bonne introduction aux présentations Beamer
	include ./general/small-footer

