#templates(style='display : none')

	script(type="text/template")#editorLayoutTemplate
		div#mainSplitter
			aside#sidebar.ui-layout-west
				//input#search-field(type='search', placeholder='Filter Files by Name')
				// Position:relative is to get scrolling while dragging to work:
				// http://stackoverflow.com/questions/1718547/jquery-draggable-scroll-not-working-when-helper-clone-is-used
				#sections(style="position: relative;")
				#options
					span#saving-area

			#content.content.ui-layout-center
				#loading.fullEditorArea
				#disconnect(style='display: none;').fullEditorArea
					#mainAreaMessage Votre navigateur a perdu la connexion au serveur. Veuillez tenter de rafraîchir la page.
				#projectDeleted(style='display: none;').fullEditorArea
					#mainAreaMessage Ce projet a été renommé ou supprimé
				#folderArea(style='display: none;').fullEditorArea
				#imageArea(style='display: none;').fullEditorArea
					iframe

	script(type="text/template")#tabTemplate
		li(id="{{ id }}-tab-li")
			a(href="#", data-toggle="tab", data-target="\\#{{ id }}-tab", class="tab-link {{ id }}-tab")
				.content {{ name }}

	script(type="text/template")#tabContentTemplate
		div.tab-pane(id="{{ id }}-tab")

	script(type="text/template")#fileTreeTemplate
		.file-tree.js-file-tree

	script(type="text/template")#fileTreeActionsTemplate
		.actions
			.new-entity.dropdown.js-new-entity-menu
				a.dropdown-toggle(href="#", data-toggle="dropdown", title="Nouveau fichier, dossier ou upload")
					i.icon-plus
					span.text Nouveau
				ul.dropdown-menu
					li
						a.js-new-file(href="#")
							img(src="/img/nide/doc.png")
							| Nouveau Fichier
					li
						a.js-new-folder(href="#")
							img(src="/img/nide/folder.png")
							| Nouveau Dossier
					li
						a.js-upload-file(href="#")
							img(src="/img/upload-file.png")
							| Uploader fichier(s)
			.js-rename-btn.rename-btn
				a(href="#", title="Renommer")
					i.icon-pencil
			.js-delete-btn.delete-btn
				a(href="#", title="Supprimer")
					i.icon-trash

	script(type="text/template")#rootDocListEntity
		option {{name}}

	script(type="text/template")#entityTemplate
		.entity-list-item(class="entity-{{ type }}", entity-type="{{ type }}", id="{{ id }}")
			.clickable.js-clickable
				i(class="sprite-{{ type }}")
				span.name {{ name }}
				input.rename.js-rename

	script(type="text/template")#folderTemplate
		.entity-list-item(class="entity-{{ type }}", entity-type="{{ type }}", id="{{ id }}")
			.toggle.js-toggle
				img(src="/img/nide/right-arrow.png").js-closed
				img(src="/img/nide/down-arrow.png").js-open
			.clickable.js-clickable
				i(class="sprite-{{ type }}")
				span.name {{ name }}
				input.rename.js-rename

	script(type="text/template")#entityListTemplate
		.contents
			.entity-list(id="{{ id }}-file-list")

	script(type="text/template")#newEntityModalTemplate
		div
			input.inputmodal(placeholder="nom")

	script(type="text/template")#messageTemplate
		.chatMessage
			span.name {{name}}
			span :
			span.message {{message}}

	script(type="text/template")#spellingMenuTemplate
		div.btn-group.spell-check-menu
			a.btn.dropdown-toggle(data-toggle="dropdown", href="#")
				span.underlined Ab
			ul.dropdown-menu.pull-right
				li.divider
				li
					a#learnWord(href="#") Retenir le mot

	script(type="text/template")#spellingMenuEntryTemplate
		li.spelling-suggestion
			a(href="#") {{word}}

	script(type="text/template")#contextMenuTemplate
		ul.dropdown-menu.context-menu

	script(type="text/template")#contextMenuEntryTemplate
		li
			a(href="#") {{text}}

	script(type="text/template")#genericModalTemplate
		.modal
			.modal-header
				h3 {{ title }}
			.modal-body
				.message {{{ message }}}
				.creditCardFreeTrialModal
			.modal-footer


	script(type="text/template")#creditCardFreeTrialModal
		.modal
			.modal-header
				h3 {{ title }}
			.modal-body
				#subscribeForm
			.modal-footer


	script(type="text/template")#genericModalTemplateWithButton
		.modal
			.modal-header
				h3 {{ title }}
			.modal-body
				.message {{ message }}
			.modal-footer
				button.btn.btn-primary ok

	script(type="text/template")#genericModalButtonTemplate
		a(href="#",class="btn {{ class }}") {{ text }}


	script(type="text/template")#editorPanelTemplate
		#editorArea(style='display: none;')
			#editorSplitter
				#leftEditorPanel.ui-layout-center
					#editorWrapper
						#editor
						#undoConflictWarning(style="display: none")
							| <strong>Attention!</strong> Des modifiactions de vos collaborateurs ont dues êtres annulées avant de pouvoir annuler les votres.
							a(href="#").js-hide Hide
				#rightEditorPanel.ui-layout-east

	script(type="text/template")#loadingIndicatorTemplate
		.loading

	script(type="text/template")#pdfSideBarLinkTemplate
		ul
			li.root.project#pdf(title='Afficher PDF', alt='pdf')
				img(src='/img/pdf.png')
				span PDF

	script(type="text/template")#editorTourTemplate
		div
			a(href="#", title="Guide de l'éditeur") Guide Editeur

	script(type="text/template")#pdfPanelTemplate
		#pdfArea(style='display: none;').fullEditorArea
			#pdfToolBar.btn-toolbar
				.btn-group
					button#recompilePdf.btn.btn-success(type='button') Recompiler
				.btn-group#showLogGroup
					button#showLog.btn Logs
				.btn-group#showPdfGroup
					button#showPdf.btn Retour au PDF
				.btn-group
					button#downloadPdf.btn Télécharger
					button#downloadLinksButton.btn.dropdown-toggle(data-toggle="dropdown")
						span.caret
					ul.dropdown-menu#downloadLinks
				.btn-group.pull-right(data-toggle="buttons-radio")
					button(type="button", title="Vue Simple")#flatViewButton.btn
						i.icon-flatview
					button(type="button", title="Vue Partagée")#splitViewButton.btn
						i.icon-splitview
			#pdfAreaContent
				.not-compiled-yet-message
					| Cliquez ici pour prévisualiser votre travail en PDF.
				.compiling-message(style='display: none;') Compilation...
				#logArea(style='display: none;')
					ul
					button.btn.btn-info.btn-large#showRawLog Afficher Logs Bruts
				#rawLogArea(style='display: none;')
					pre

	script(type="text/template")#outputFileLinkTemplate
		li
			a(href="/project/{{ project_id }}/output/{{ path }}", target="_blank") Télécharger {{ name }}

	script(type="text/template")#pdfjsViewerTemplate
		.pdfjs-viewer
			.pdfjs-list-view
			.btn-group
				button.btn.btn-info.js-fit-height
					img(src="/img/iconshock/fit-to-height.png")
				button.btn.btn-info.js-fit-width
					img(src="/img/iconshock/fit-to-width.png")
				button.btn.btn-info.js-zoom-out
					img(src="/img/iconshock/zoom-out.png")
				button.btn.btn-info.js-zoom-in
					img(src="/img/iconshock/zoom-in.png")
			.progress.progress-info
				.bar
				span Chargement

	script(type="text/template")#compileSuccessTemplate
		li.alert.alert-success
			strong Aucune erreur.
			span Félicitations!

	script(type="text/template")#compileErrorTemplate
		li.alert.alert-error
			strong Erreur de Compilation:
			span La compilation du projet a échoué. Cela peut être du à une surcharge du compilateur ou à une incompatibilité avec le projet. Veuillez retenter dans quelques instants et contacter à terme le SIE (pbinfo@ensta.fr).

	script(type="text/template")#compileFailedTemplate
		li.alert.alert-error
			strong Ooops, la compilation du code LaTeX a échoué. Veuillez vérifier ces erreurs pour plus de détails :


	script(type="text/template")#compileLogEntryTemplate
		li.alert.clickable(class="alert-{{ type }}")
			strong {{ title }}:
			span {{ message }}
			.small {{ content }}

	script(type="text/template")#projectMemberListTemplate
		table.table
			thead
				tr
					th Email
					th Privilèges
					th
			tbody
		{{#showAdminControls}}
		form.well.form-inline.addUserForm
			input(type="email",placeholder="prenom.nom@ensta-paristech.fr")#newEmail.email.input-large
			select.privileges.input-medium
				option(value="readAndWrite") Lecture et Ecriture
				option(value="readOnly") Lecture Seule
			button.btn.btn-primary.addUser Ajouter un nouveau collaborateur
		{{/showAdminControls}}

	script(type="text/template")#projectMemberListItemTemplate
		tr.projectMember
			td.email {{ email }}
			td.privileges {{ privileges }}
			td
				{{#showRemove}}
				button(href="#").btn.btn-danger.removeUser Supprimer
				{{/showRemove}}

	script(type="text/template")#settingsPanelTemplate
		.fullEditorArea.projectSettings
			include project/partials/manage

	script(type="text/template")#userPanelTemplate
		.fullEditorArea.projectSettings
			.box
				.page-header
					h2 Partager en privé (par email)
				#projectMembersList
			#socialSharing
			#publishProject

	script(type="text/template")#historyPanelTemplate
		#revisionHistoryArea.fullEditorArea

	script(type='text/template')#revisionAreaTemplate
		#historyAreaWrapper
			#historySideBar
				.take-snapshot-wrapper
					a#take-snapshot.btn.btn-primary Prendre un instantanné
				#versionListArea
			#diffViewArea
		#enableVersioningMessage
			.message Historique est désactivé pour ce projet.
			a.btn.btn-primary.btn-large#enableVersioning Activer Historique


	script(type='text/template')#snapshotCommentTemplate
		input(type="text", placeholder="Commentaire d'Instantanné")#snapshotComment

	script(type='text/template')#diffTemplate
		.diffView
			h2 {{ message }}
			.date {{ date }}

	script(type='text/template')#fileDiffTemplate
		.fileHeader
			{{#diff}}
			{{^deleted}}
			ul.nav.nav-pills.pull-right
				li.active
					a(href="#diff-{{id}}", data-toggle="pill").diff Diff
				li
					a(href="#raw-{{id}}", data-toggle="pill").raw Brut
			{{/deleted}}
			{{/diff}}
			h3(class="{{headerClass}}") {{path}}
			{{#moved}}
			.fileMoved Déplacé vers {{newPath}}
			{{/moved}}
		{{#diff}}
		.tab-content
			.tab-pane.active.tab-diff(id="diff-{{id}}")
				{{#sections}}
				table.sectionDiff
					{{#lines}}
					tr(class="line {{type}}")
						{{#added}}
						td.old_line_number
						td.new_line_number {{new_number}}
						td.symbol +
						{{/added}}
						{{#removed}}
						td.old_line_number {{old_number}}
						td.new_line_number
						td.symbol -
						{{/removed}}
						{{#unchanged}}
						td.old_line_number {{old_number}}
						td.new_line_number {{new_number}}
						td.symbol
						{{/unchanged}}
						td.content {{content}}
					{{/lines}}
				.sectionSeparator
				{{/sections}}
			.tab-pane.tab-raw(id="raw-{{id}}")
				pre.rawFileContent Chargement...
		{{/diff}}
		{{#binary}}
		{{^deleted}}
		.binaryFileDiff
			a(href="{{url}}",target="_blank").rawFileLink Voir cette version du ficiher
		{{/deleted}}
		{{/binary}}

	script(type='text/template')#versionListItemTemplate
		a(href="#")
			div(class='version-message') {{message}}
			div(class='version-date') {{date}}

	script(type='text/template')#versionListTemplate
		ul#version-list.nav.nav-pills.nav-stacked
			li.loading Chargement...
			li.empty-message Aucune version présente!

	script(type='text/template')#fileViewTemplate
		{{#image}}
		div
			img(src='{{ previewUrl }}')
		{{/image}}
		{{^image}}
		.no-preview Aucun preview disponible :(
		{{/image}}
		a(href='{{ downloadUrl }}', target="_blank").download.btn.btn-large Download {{ name }}

	script(type='text/template')#hotKeysLinkTemplate
		div
			a(href="#", title='Afficher les touches rapides') Touches Rapides

	script(type='text/template')#trackChangesPanelTemplate
		#trackChangesPanel
			.track-changes-side-bar
				.track-changes-header
					h3 Recent changes
					a(href="#").track-changes-close
						i.icon-remove
				.change-list-area
			.track-changes-diff

	script(type='text/template')#changeListItemTemplate
		div(class='change-selectors')
			div.range
			input(type="radio",name="fromVersion").change-selector-from
			input(type="radio",name="toVersion").change-selector-to

		div(class='change-description')
			div(class='change-date') {{date}}
			div(class='change-name')
				div.color-square(style="background-color: hsl({{hue}}, 100%, 70%);")
				span {{name}}

	script(type='text/template')#changeListTemplate
		ul.change-list.nav.nav-pills.nav-stacked
			li.loading-changes Chargement...
			li.empty-message Aucun changement effectué!

	script(type='text/template')#hotKeysListTemplate
		.hotkeys
			h3 Communs
			.hotkeys-column
				.hotkey
					span.combination.win Ctrl + F
					span.combination.mac Cmd + F
					span.description     Chercher (et remplacer)
				.hotkey
					span.combination.win Ctrl + Entrée
					span.combination.mac Cmd + Entrée
					span.description     Compiler
				.hotkey
					span.combination.win Ctrl + /
					span.combination.mac Cmd + /
					span.description     Activer Commentaire
			.hotkeys-column
				.hotkey
					span.combination.win Ctrl + Z
					span.combination.mac Cmd + Z
					span.description     Annuler
				.hotkey
					span.combination.win Ctrl + Y
					span.combination.mac Cmd + Y
					span.description     Rétablir
			.clear

			h3 Navigation
			.hotkeys-column
				.hotkey
					span.combination.win Ctrl + Home
					span.combination.mac Cmd + Home
					span.description     Début du Document
				.hotkey
					span.combination.win Ctrl + Fin
					span.combination.mac Cmd + Fin
					span.description     Fin du Document
			.hotkeys-column
				.hotkey
					span.combination.win Ctrl + L
					span.combination.mac Cmd + L
					span.description     Aller à la ligne
			.clear

			h3 Edition
			.hotkeys-column
				.hotkey
					span.combination.win Ctrl + D
					span.combination.mac Cmd + D
					span.description     Effacer ligne courante
				.hotkey
					span.combination.win Ctrl + A
					span.combination.mac Cmd + A
					span.description     Tout sélectionner
				.hotkey
					span.combination.win Tab
					span.combination.mac Tab
					span.description     Indenter la sélection
			.hotkeys-column
				.hotkey
					span.combination.win Ctrl + U
					span.combination.mac Ctrl + U
					span.description     En Majuscules
				.hotkey
					span.combination.win Ctrl + Shift + U
					span.combination.mac Ctrl + Shift + U
					span.description     En Minuscules
			.clear
